{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <h3>
    {% if is_self %}
      내 팔로워
    {% else %}
      {{ user.nickname }}님의 팔로워
    {% endif %}
  </h3>
  
  <ul>
    {% for follower_data in followers_data %}
  <li>
    {{ follower_data.user.nickname }}
    
    {% if request.user != follower_data.user %}
      <form method="post" action="{% url 'follow_toggle' follower_data.user.id %}" style="display: inline;">
        {% csrf_token %}
        <button type="submit">
          {% if follower_data.is_following %}언팔로우{% else %}팔로우{% endif %}
        </button>
      </form>
    {% endif %}
  </li>
{% empty %}
  <li>팔로워가 없습니다.</li>
{% endfor %}
  </ul>
  
  <a href="{% url 'profile' %}">프로필로 돌아가기</a>
</div>
{% endblock %}